{% extends "base.html" %}

{% block content %}
  <div class="page-body">
    <div class="container container-tight py-4">
      <form class="card card-md" action="/donations/{{donation.id}}/remove" method="POST" autocomplete="off" novalidate="">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Delete donation for {{donation.book.title}}</h2>
          <p class="text-secondary mb-4 text-center">Are you sure you want to delete donation for this book?</p>
          <div class="form-footer text-center">
            <a href="/donations" class="btn btn-primary">
              No, go back
            </a>
            <button type="submit" class="btn btn-danger">
              Yes, delete donation
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
