{% extends "base.html" %}

{% block title %}Create user
{% endblock %}

{% block content %}
	<div class="page-body">
		<div class="container-xl">
			<div class="row row-cards">
				<div class="col-12">
					<form class="card" action="/admin/users/add" method="POST" enctype="multipart/form-data">
						<div class="row row-0">
							<div class="card-body">
								<div class="row row-cards">
									<div class="col-md-4">
										<div class="mb-3">
											<label class="form-label">Name</label>
											<input type="text" class="form-control" name="name">
										</div>
									</div>
									<div class="col-md-4">
										<div class="mb-3">
											<label class="form-label">Surname</label>
											<input type="text" class="form-control" name="surname">
										</div>
									</div>
									<div class="col-md-4">
										<div class="mb-3">
											<label class="form-label">Email</label>
											<input type="text" class="form-control" name="email">
										</div>
									</div>

									<div class="col-sm-3 col-md-3">
										<div class="input-icon mb-3">
											<label class="form-label">Birthday</label>
											<input class="form-control" placeholder="Birthday date" name="birthday" id="datepicker-icon">
											<span class="input-icon-addon">
												<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
													<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
													<path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path>
													<path d="M16 3v4"></path>
													<path d="M8 3v4"></path>
													<path d="M4 11h16"></path>
													<path d="M11 15h1"></path>
													<path d="M12 15v3"></path>
												</svg>
											</span>
										</div>
									</div>
									<div class="col-sm-3 col-md-3">
										<div class="mb-3">
											<label class="form-label">Maximum loan number</label>
											<div class="row g-2">
												<input type="number" class="form-control" name="maxLoanNum">
											</div>
										</div>
									</div>
									<div class="col-sm-3 col-md-3">
										<div class="mb-3">
											<label class="form-label">Maximum loan duration</label>
											<div class="row g-2">
												<input type="number" class="form-control" name="maxLoanDuration">
											</div>
										</div>
									</div>
									<div class="col-sm-3 col-md-3">
										<div class="mb-3">
											<label class="form-label">Reputation</label>
											<div class="row g-2">
												<input type="number" class="form-control" name="reputation">
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-md-4">
										<div class="row">
											<label class="col-3 col-form-label pt-0">Others</label>
											<div class="col">
												<label class="form-check">
													<input class="form-check-input" type="checkbox" name="admin">
													<span class="form-check-label">Is Admin?</span>
												</label>
												<label class="form-check">
													<input class="form-check-input" type="checkbox" name="banned">
													<span class="form-check-label">Is Banned?</span>
												</label>
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-4">
										<div class="mb-3">
											<label class="form-label">New password</label>
											<input type="password" class="form-control" name="newPassword">
										</div>
									</div>
									<div class="col-sm-6 col-md-4">
										<div class="mb-3">
											<label class="form-label">Confirm new password</label>
											<input type="password" class="form-control" name="confirmNewPassword">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer text-end">
							<a href="/admin/users" class="btn btn-outline-primary">Back</a>
							<button type="submit" class="btn btn-primary">Create</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
