{% extends "base.html" %}

{% block content %}
  <div class="page-body">
    <div class="container container-tight py-4">
      <form class="card card-md" action="/admin/users/{{eUser.id}}/delete" method="POST" autocomplete="off" novalidate="">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Delete user {{eUser.getName()}} {{eUser.getSurname()}}</h2>
          <p class="text-secondary mb-4 text-center">Are you sure you want to delete this user? All loans, donations and books associated to this user will be deleted too.</p>
          <div class="form-footer text-center">
            <a href="/" class="btn btn-primary">
              No, go back
            </a>
            <button type="submit" class="btn btn-danger">
              Yes, delete user
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
in views/user/admin/remove.html.twig