{% extends "base.html" %}

{% block content %}
  <div class="page-body">
    <div class="container container-tight py-4">
      <form class="card card-md" action="/loans/book/{{book.id}}/start" method="POST" autocomplete="off" novalidate="">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Loan {{book.title}}?</h2>
          <p class="text-secondary mb-4 text-center">Are you sure you want to loan this book?</p>
          <p class="text-secondary mb-4 text-center">You must return it before {{user.getMaxReturnDate.format('Y-m-d')}}</p>
          <div class="form-footer text-center">
            <a href="/" class="btn btn-primary">
              No, go back
            </a>
            <button type="submit" class="btn btn-success">
              Yes, loan book
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
